<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Assignment 1 -->
      <!-- <div>
        <warning-alert></warning-alert>
        <success-alert></success-alert>
      </div> -->
      <!-- Assignment 1 -->
      <!-- Assignment 2 -->
      <!-- <div>
        <databinding></databinding>
      </div> -->
      <!-- Assignment 2 -->
      <!-- Assignment 3 -->
      <!-- <div>
        <directives-practice></directives-practice>
      </div> -->
      <!-- Assignment 3 -->
      <!-- Assignment 4 -->
        <app-event-binding></app-event-binding>
      <!-- Assignment 4 -->

    </div>
  </div>
</div>

