.warning {
    width: 300px;
    padding: 10px 0;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    border: 3px solid rgb(33, 114, 33);
    background-color: rgb(103, 230, 103);
    color: rgba(2, 46, 1, 0.966);
}